<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- アンダースコア区切り (スネークケース) のカラム名をキャメルケースにマップする設定 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- SQL 内で AS によって設定された列名をマップする設定 -->
        <setting name="useColumnLabel" value="true"/>
    </settings>
    <!-- カラムタイプによりデフォルトとは異なる O/R 変換処理が必要になる場合に設定 -->
    <!--
    <typeHandlers>
        <typeHandler handler="package.name.LocalDateTypeHandler"/>
    </typeHandlers>
    -->
</configuration>
