<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/htm14/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hello, Spring Boot!</title>
</head>
<body>

<div th:replace="common/header :: common_header"></div>

<form th:action="@{/detail}" th:object="${employeeForm.employee}" method="post">
	<table>
		<caption>
			<strong>従業員検索</strong>
		</caption>
		<thead>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>EMAIL</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="*{id}"></td>
				<td th:text="*{name}"></td>
				<td th:text="*{mailAddress}"></td>
			</tr>
		</tbody>
	</table>

	<p>Name (Optional): <input type="text" th:field="*{name}" />
		<em th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</em>
	</p>
	<p><input type="submit" value="Submit" /></p>

</form>

<div th:replace="common/footer :: common_footer"></div>

</body>
</html>